
body{
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    
  
}


.container {
    max-width: 23.4375rem;
    height: 95vh;
    max-height: 50.75rem;
    background-color: #FBFBFB;
    border-radius: 1.25rem;
    margin:  4rem auto;
    border: .375rem solid #4885F7;
    overflow: hidden;
    position: relative;
}

.header {
   display: flex;
   align-content: end;
   justify-content: space-between;
   width: 95%;
}

.header_title h1{
  margin: 0.8rem;
}

.header_title span{
    cursor: pointer;
}

#reload {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    margin-top: 1rem;
}

.menu {
    width: 9.5625rem;
    height: 10.0625rem;
    border: none;
    margin-left: 2rem;
    margin-top: 0;
    display: none;
    position: absolute;
    
}


.functions-list{
    list-style: none;
    /* padding: 0; */
    /* margin: 0; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.function{
    list-style: none;
    margin: 0.5rem 0;
    width: 7.4375rem;
    height: 1.4375rem;
    font-size: .8rem;
    /* padding: 0;
    margin: 0; */
}

.function_icon{
     width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    border: none;
    margin: 0;
    padding: 0;
}

#maindisplay{
    width: 90%;
    padding: 5rem;
    font-size: 3rem;
    text-align: right;
    border: none;
    color: #000;
 
}

.keys{
    background-color: #efecec;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.625rem;
    padding: 1.563rem;
    align-content: center;
    justify-content: center;
}

.keys button{
    width: 4rem;
    height: 4rem;
    border-radius: 1.6rem;
    border: none;
    background-color: #FBFBFB;
    color: #000;
    font-size: 2rem;
    font-weight: 400;
    cursor: pointer;

}

.keys button:hover{
    background-color: #427ce6;
}

.keys button:active{
    background-color: #2a68da;
}

.keys .operatorbtn{
    
    color: #4885F7;
}

.keys .operatorbtn:hover{
    background-color: #427ce6;
    color: #fff;
}

.keys .operatorbtn:active{
    background-color: #2a68da;
    color: #fff;
}

.keys .equalsbtn{
    background-color: #4885F7;
    color: #fff;
}

.keys .equalsbtn: :hover{
    background-color: #427ce6;
    color: #fff;
}

.keys .equalsbtn :active{
    background-color: #2a68da;
    color: #fff;
}
