
body{
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    
  
}


.container {
    max-width: 23.4375rem;
    height: 100vh;
    max-height: 56.25rem;
    background-color: #FBFBFB;
    border-radius: 1.25rem;
    margin:  2rem auto;
    border: .375rem solid #4885F7;
    overflow: hidden;
    position: relative;
}

.header {
   display: flex;
   align-content: end;
   justify-content: space-between;
   width: 95%;
}

.header_title h1{
  margin: 0.8rem;
}

.header_title span{
    cursor: pointer;
}

#reload {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    margin-top: 1rem;
}

.menu {
    width: 9.5625rem;
    height: 10.0625rem;
    border: none;
    border-radius: .3rem;
    margin-left: 2rem;
     background-color: #efecec;
    margin-top: 0;
    display: none;
    position: absolute;
    
}

.show{
   width: 9.5625rem;
    height: 10.0625rem;
    border: none;
    background-color: #FBFBFB;
    margin-left: 1rem;
    margin-top: 0;
    display: block;
    position: absolute;
}

#showMenu{
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: 700;
}

#showMenu:hover{
   background-color: #f3ebeb;
   border-radius: 0.3rem;

}

#showMenu:active{
    background-color: #fff;
    border: none;
}

.functions_list{
    /* list-style: none; */
    padding: 0.5rem;
    margin:0;
    display: flex;
    flex-direction: column;
   
}

.function{
    list-style: none;
    margin: 0.5rem 0 1rem;
    width: 10rem;
    height: 1.5rem;
    font-size: .8rem;
    margin-left: 0.2rem;
    /* padding: 0;
    margin: 0; */
}

.function button{
    border: none;
     cursor: pointer;
}

.function_icon{
     width: 1.2rem;
    height: 1.2rem;
    padding: 0;    
}

.display {
    width: 100%;
}

.maindisplay{
    width: 70%;
    height: 15%;
    padding: 4rem;
    font-size: 2rem;
    text-align: right;
    border: none;
    color: #000;
 
}

#displayExpression{
    font-size: 2rem;
}

#displayResult{
    font-size: 2.5rem;
    font-weight: 700;
}

.keys{
    background-color: #efecec;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.625rem;
    padding: .5rem 1.563rem 4.5rem 1.563rem;
    
    align-content: center;
    justify-content: center;
}

.keys button{
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 1.2rem;
    border: none;
    background-color: #FBFBFB;
    color: #000;
    font-size: 2rem;
    font-weight: 400;
    cursor: pointer;

}

.keys button:hover{
    background-color: #427ce6;
}

.keys button:active{
    background-color: #2a68da;
}

.keys .operatorbtn{
    
    color: #4885F7;
}

.keys .operatorbtn:hover{
    background-color: #427ce6;
    color: #fff;
}

.keys .operatorbtn:active{
    background-color: #2a68da;
    color: #fff;
}

.keys .equalsbtn{
    background-color: #4885F7;
    color: #fff;
}

.keys .equalsbtn :hover{
    background-color: #427ce6;
    color: #fff;
}

.keys .equalsbtn :active{
    background-color: #2a68da;
    color: #fff;
}

#black_line{
    width: 7rem;
    color: #000;
    height: 0rem;
    align-content: center;
    justify-content: baseline;
    border: .25rem solid #000;
    border-radius: 0.5rem;
    position: absolute;
    bottom: .125rem;
    right: 8rem;
}