body{
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
  
}


.container {
    max-width: 23.4375rem;
    max-height: 50.75rem;
    background-color: #FBFBFB;
    border-radius: 1.25rem;
    margin:  4rem auto;
    border: .375rem solid #4885F7;
}
.header {
   display: flex;
   align-content: space-between;
   width: 100%;
}

#reload {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.menu {
    width: 9.5625rem;
    height: 10.0625rem;
    border: 1px solid red;
    margin-left: 2rem;
    margin-top: 0;
    display: none;
}

.functions-list{
    list-style: none;
    /* padding: 0; */
    /* margin: 0; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.function{
    list-style: none;
    margin: 0.5rem 0;
    width: 7.4375rem;
    height: 1.4375rem;
    font-size: .6rem;
    /* padding: 0;
    margin: 0; */
}

.function_icon{
     width: 1.5625rem;
    height: 1.5rem;
    cursor: pointer;
    border: none;
    margin: 0;
    padding: 0;
}

